<ul class="share">
  <li><a href="https://facebook.com/sharer.php?u={{ site.url | append: page.url | uri_escape }}&t={{ page.socialText | append: ' #' | append: page.hashtag | uri_escape }}" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
  <li><a href="https://twitter.com/share?url={{ site.url | append: page.url | uri_escape }}&text={{ page.socialText | append: ' #' | append: page.hashtag | uri_escape }}" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
  <li><a href="http://vk.com/share.php?url={{ site.url | append: page.url | uri_escape }}&title={{ page.socialText | append: ' #' | append: page.hashtag | uri_escape }}" title="VK" target="_blank"><i class="fa fa-vk"></i></a></li>
  <li><a href="http://reddit.com/submit?url={{ site.url | append: page.url | uri_escape }}&title={{ page.socialText | uri_escape }}" title="Reddit" target="_blank"><i class="fa fa-reddit"></i></a></li>
  <li><a href="https://plus.google.com/share?url={{ site.url | append: page.url | uri_escape }}" title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
</ul>
