<!DOCTYPE html>
<html lang="{{ page.langcode | replace: '_', '-' }}" prefix="og: http://ogp.me/ns#">
  <head profile="http://microformats.org/profile/rel-license">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;amp;subset=cyrillic" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    {% seo %}
    {% for language in site.languages %}
      <link rel="alternate" hreflang="{{ language.code | replace: '_', '-' }}" href="{{ site.url | append: language.link }}" />
    {% endfor %}
    <meta property="og:locale" content="{{ page.langcode }}" />
    {% for language in site.languages %}
      <meta property="og:locale:alternate" content="{{ language.code }}" />
    {% endfor %}
  </head>
  <body>
    {{ content }}
  </body>
</html>